* {
  /*font-size: 20px;*/
}

article, section {
  width: 100%;
}

.about-section-summary {
  list-style: none;
}

/*
.section-summary .section-title {
  text-decoration: underline;
}
*/

#main {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

#about-contact-info {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#about-contact-info > span {
  margin: 5px 20px;
  text-align: center;
}

#content {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*
  flex-direction: row;
  justify-content: space-evenly;
  */
}

#about-me-img {
  width: 400px;
  max-width: 100%;
  margin: auto;
}

#about-who-i-am {
  display: flex;
  flex-direction: column-reverse;
  gap: 25px;
}

.about-other-info-content {
  display: flex;
  flex-direction: column;
}

.about-other-info-content > * {
  flex: 1;
}

@media (min-width: 780px) {
  #about-who-i-am {
    flex-direction: row;
  }

  .about-other-info-content {
    flex-direction: row;
  }
}
