#main-nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #5EDFFF;
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
}

#login-logout {
  float: right;
}

.main-nav-bar-li {
  float: left;
}

.main-nav-link {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

body {
  background-color: black;
  color: white;
  height: 100%;
}