#chat-div {
  width: 100%;
  display: flex;
}
#convos-div {
  overflow: auto;
  width: 20%;
}
#convo-frame-div {
  flex-grow: 1;
}
#convos-list {
  list-style-type: none;
}
#convo-frame {
  border: none;
}
#convo-header {
  text-align: center;
}
#convo-table-div {
  width: 100%
}
#convo-table {
  width: 100%;
  overflow: scroll;
}
#convo-div {
  display: flex;
  align-items: center;
  flex-direction: column;
}