<!DOCTYPE html>

<html lang="en-US">

<head>
  <meta charset="UTF-8">
  <link rel="icon" type="x-icon" href="../static/favicon.ico">
</head>

<body>
  <div>
    <form id="login-form" action="../admin/login" method="post">
      <label for="username">Username:</label>
      <input type="username" name="username" placeholder="Username">
      <br>
      <label for="password">Password:</label>
      <input type="password" name="password" placeholder="Password">
      <br>
      <input type="submit" value="Submit">
    </form>
  </div>
  <script>
  </script>
</body>

</html>
