{{define "head"}}
<link rel="stylesheet" href="./static/css/about.css">
{{end}}

{{define "main"}}

<main id="content">
<article>
  <h1 id="about-name-header">Johnie "Tre" Rodgers</h1>

  <section>
    <div id="about-who-i-am">
      <div style="flex:1;margin-left:10">
        <p>
        <h2 class="about-section-title">Who I Am</h2>
        I am Johnie Rodgers III (nicknamed Tre).

        I was born and raised in Dallas, graduating from Southern Methodist University (SMU) in 2023
        where I majored Finance and minored in Psychology and Statistics.
        Even though I did not major in Computer Science, I try to learn
        much of what is taught in the classroom as well as what is not.
        </p>

        <p>
        I first took an interest in programming the summer after I graduated high
        school and really got into it a few months later, starting with Swift.

        After about a month, I took an extended break from Swift and took to
        learning Python for a few months, then C, C++ and Go. Finally, after
        years of trying out various languages and projects, I have found myself
        favoring GoLang and Rust for the backend.

        Some of the other languages I have dabbled in include Flutter, JavaScript,
        HTML, CSS, Haskell, and Java.
        </p>

        <p>
        Ultimately, my goal is to combine my studies at university
        with computer science in order to create something magnificent,
        specifically dealing with either financial assets and trading or
        psychology whether it be an app, fintech company, or the likes.
        </p>
      </div>
      <div>
        <img
        id="about-me-img"
        src="./static/images/me.jpg"
        alt="It's an old photo of me."
        title="It's an old photo of me."
        >
      </div>
    </div>
  </section>

  <section>
    <div id="about-other-info">
      <h2 class="about-section-title">Other Info</h2>
      <div class="about-other-info-content">
        <div>
        <p id="about-auto-bio-tldr">
        <br>
        <b>Primary Programming Languages/Technologies</b>
        <ul>
          <li>GoLang</li>
          <li>TypeScript</li>
          <li>Python</li>
          <li>React Native (Expo)</li>
        </ul>
        <b>Other Programming Languages/Technologies</b>
        <ul>
          <li>Rust</li>
          <li>HTML</li>
          <li>CSS</li>
          <li>JavaScript</li>
          <li>C++</li>
          <li>C</li>
        </ul>
        </p>
        </div>
        <div>
        <p>
        <b>More Fun Facts</b>
        I deeply enjoy music, whether it be playing piano (or other tonal percussion instruments), singing, or listening to a smorgasbord of genres. I also spend a lot (daresay too much) time playing online chess as well as a decent amount roller skating and playing billiards.
        </p>
        </div>
      </div>
    </div>
  </section>

</article>
</main>

<script>
  for (const details of document.querySelectorAll(".section-details")) {
    details.open = true;
  }
</script>

{{end}}
