{{define "style"}}
<link rel="stylesheet" href="./static/css/me.css">
{{end}}

{{define "main"}}

<main id="content">
<article>
  <h1 id="name-header">Johnie "Tre" Rodgers</h1>

  <section>
    <details class="section-details">
      <summary class="section-summary">
        <h2 class="section-title">TLDR</h2>
      </summary>
      <p id="auto-bio-tldr">
      <br>
      <b>Education</b>
      <ul>
        <li>The Colony High School (2019)</li>
        <li>
          Southern Methodist University (2023)
          <ul>
            <li>Major: Finance</li>
            <li>Minors: Psychology, Statistics</li>
          </ul>
        </li>
      </ul>
      <b>Primary Programming Languages</b>
      <ul>
        <li>GoLang</li>
        <li>Python</li>
        <li>Rust</li>
      </ul>
      <b>Other Programming Languages (some dibble-dabbling)</b>
      <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>TypeScript</li>
        <li>C</li>
        <li>C++</li>
      </ul>
      </p>
    </details>
  </section>

  <section>
    <details class="section-details">
      <summary class="section-summary">
        <h2 class="section-title">Who I Am</h2>
      </summary>
      <p>
      My name is Johnie Rodgers III (Tre is my nickname).

      I was born and raised in Dallas, specifically The Colony.

      I graduated from The Colony High School in 2019
      and Southern Methodist University (SMU) in 2023
      where I majored Finance and Minored in Psychology and Statistics.
      Even though I am not majoring in Computer Science, I try to learn
      much of what is taught in the classroom as well as what is not.
      </p>

      <p>
      I first took an interest in programming the summer after I graduated high
      school and really got into it a few months later, starting with Swift.

      After about a month, I took an extended break from Swift and took to
      learning Python for a few months, then C, C++ and Go. Finally, after
      years of trying out various languages and projects, I have found myself
      favoring GoLang and Rust for the backend.

      Some of the other languages I have dabbled in include Flutter, JavaScript,
      HTML, CSS, Haskell, and Java.
      </p>

      <p>
      Ultimately, my goal is to combine my studies at university
      with computer science in order to create something magnificent,
      specifically dealing with either financial assets and trading or
      psychology whether it be an app, fintech company, or the likes.
      </p>
    </details>
    <div id="auto-bio-div" hidden>
    </div>
  </section>

  <section>
    <details class="section-details">
      <summary class="section-summary">
        <h2 class="section-title">In Case You Are Wondering What I Look Like</h2>
      </summary>
        <img
          id="me-img"
          src="./static/images/me.jpg"
          alt="It's an old photo of me."
          title="It's an old photo of me."
        >
    </details>
  </section>

</article>
</main>

<script>
  for (const details of document.querySelectorAll(".section-details")) {
    details.open = true;
  }
</script>

{{end}}
