{{define "style"}}<link rel="stylesheet" href="./static/css/apps.css">{{end}}
{{define "script"}}
<script src="./static/js/apps.js" defer></script>
<script src="./static/js/htmx.min.js" defer></script>
<script src="./static/js/htmx.response-targets.js" defer></script>
{{end}}

{{define "main"}}
<h1>Apps, Sites, Services</h1>

{{with .Data}}

{{with .MaxDescriptionLen}}
<script>
  const maxDescriptionLen = {{.}};
</script>
{{end}}

{{if .Apps}}
<table id="app-app-list">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>App Store</th>
    <th>Play Store</th>
    <th></th>
  </tr>
  {{range .Apps}}
  <tr>
    <!-- TODO -->
    <td class="app-name-td">
      {{if .Webpage}}
        <a href="{{.Webpage}}">{{.Name}}</a>
      {{else}}
        {{.Name}}
      {{end}}
    </td>
    <td class="app-description-td">{{.Description}}</td>
    <td class="app-checkbox-td">
      {{if .OnAppStore}}&#x2705;{{else}}&#x274C;{{end}}
    </td>
    <td class="app-checkbox-td">
      {{if .OnPlayStore}}&#x2705;{{else}}&#x274C;{{end}}
    </td>
    <td>
      <button onclick="appsFocusFormWithApp({{.Name}})">Submit Review/Feedback</button>
    </td>
  </tr>
  {{end}}
</table>

<hr />

<div hx-ext="response-targets">
<form
  id="apps-review-form"
  hx-post="./apps" hx-swap="none"
  hx-target-4xx="#apps-form-result"
  >
  <!-- onsubmit="appsSubmitReviewForm(this)" -->
  <div>
    <label for="app">App:</label>
    <br />
    <select name="app" required>
      <option value="" selected>--Please Select--</option>
      {{range .Apps}}
      <option value="{{.Name}}">{{.Name}}</option>
      {{end}}
    </select>
  </div>
  <div>
    <label for="email">Email:</label>
    <br />
    <input type="email" name="email" placeholder="Email" required/>
  </div>
  <div>
    <label for="reason">Reason:</label>
    <br />
    <select name="reason" required>
      <option value="" selected>--Please Select--</option>
      <option value="question/inquiry">Question/Inquiry</option>
      <option value="bug/issue">Bug/Issue</option>
      <option value="feedback">Feedback</option>
      <option value="other">Other</option>
    </select>
  </div>
  <div>
    <label for="subject">Subject (Short Description):</label>
    <br />
    <input type="text" name="subject" placeholder="Subject" required/>
  </div>
  <div>
    <label for="description">Description:</label>
    <br />
    <textarea
      name="description"
      maxlength="{{.MaxDescriptionLen}}" cols="80" rows="5"
      required></textarea>
    <p style="margin-top: 0"><span id="apps-desc-count">0</span>/{{.MaxDescriptionLen}}</p>
  </div>

  <div>
    <button type="button" onclick="appsClearForm()">Clear</button>
    <button type="submit">Submit</button>
  </div>
</form>
</div>

<div id="apps-form-result" hx-ext="response-targets"></div>

{{end}}

{{end}}

{{end}}
