{{define "main"}}
<h1>Blogs</h1>
<p>
This is a place for all my structured writings. All my unstructured pieces/random thoughts are located in the "Journals" section.
</p>

{{with .Data}}

{{with .Categories}}
<select id="blog-category-select" multiple>
  {{range .}}
  <option value="{{.}}">=={{.}}==</option>
  {{end}}
</select>
{{end}}

<div id="blog-blog-list">
  {{range .Blogs}}
  <div>
    <a href="./blogs?id={{.Id}}">{{.Title}}</a>
  </div>
  {{end}}
</div>

{{end}}

{{end}}
