<!-- Switch chat and conve (make chat iframe and convo main) -->
{{template "base" .}}
{{define "head"}}
<title>Chat</title>
<link rel="stylesheet" href="/static/css/chat.css">
<script src="/static/js/chat.js" defer></script>
{{end}}

{{define "body"}}
<h1>Chat</h1>
<div id="chat-div">
  <div id="convos-div">
    <ul id="convos-list">
      <li><button onclick="getBot()">Chat with the Bot</button></li>
      <li><button onclick="getConvo(this)">Hell</button></li>
      <li><button onclick="getConvo(this)">Nah</button></li>
    </ul>
  </div>
  <div id="convo-frame-div">
    <!-- <h1 style="color: white; text-align: center;">Hello</h1> -->
    <iframe id="convo-frame" src="/chat/convo" title="Conversations" width="100%" height="100%"></iframe>
  </div>
</div>
{{end}}
