<!DOCTYPE html>
<html>
<head>
  <title>Convo</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/static/css/convo.css">
  <script src="/static/js/convo.js" defer></script>
</head>

<body>
  <h1 id="header" style="color: white">Header</h1>
  <div id="convo-div">
    <div id="chat-tab-div">
      <table>
        <tr>
          <td>Chat</td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>Another</td>
        </tr>
      </table>
    </div>
    <div id="send-chat-div">
      <input id="field" type="text">
      <button onclick="send()">Send</button>
    </div>
  </div>
</body>

</html>
