{{define "main"}}
<h1>Journals</h1>
<p>
This is a place for all my unstructured writings (e.g., "shower thoughts"). All my structured writings are located in the "Blogs" section.
</p>
<h1>COMING SOON!</h1>
{{end}}
