{{template "base" .}}
{{define "head"}}
<title>Login</title>
<link rel="stylesheet" href="/static/css/login.css">
<script src="/static/js/login.js" defer></script>
{{end}}

{{define "body"}}
<h1>Welcome Back!</h1>
<form method="POST">
  <label for="email">Email: </label>
  <input id="email-input" name="email" type="email" required><br>
  <label for="password">Password: </label>
  <input id="password-input" name="password" type="password" required><br>
  <input type="submit" value="Login">
</form>
<a href="/register">Don't yet have an account?</a>
<p id="error-p" hidden>{{.ErrMsg}}</p>
{{end}}