{{template "base" .}}
{{define "head"}}
<title>Register</title>
<link rel="stylesheet" href="/static/css/register.css">
<script src="/static/js/register.js" defer></script>
{{end}}

{{define "body"}}
<h1>Welcome!</h1>
<form id="register-form" method="POST">
  <label for="fname">First Name: </label>
  <input id="fname-input" name="fname" type="text" required><br>
  <label for="lname">Last Name: </label>
  <input id="lname-input" name="lname" type="text" required><br>
  <label for="email">Email: </label>
  <input id="email-input" name="email" type="email" required><br>
  <label for="password">Password: </label>
  <input id="password-input" name="password" type="password" required><br>
  <label for="confirmation">Confirm Password: </label>
  <input id="confirmation-input" name="confirmation" type="password" required><br>
  <input id="submit-input" type="submit" value="Register">
</form>
<a href="/login">Already have an account?</a>
<p id="error-p" hidden>{{.ErrMsg}}</p>
{{end}}